/* custom style */

:root{
    --grey-light-warm: #efeeee;
}

html{
    font-size: 16px;
}

body{
    background: var(--grey-light-warm);
}

header{
    margin-bottom: 2rem;
    /* background: var(--grey-light-warm); */
}
header nav *{
    margin: 0;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    display: inline-block;
}

main{
    /* use a CSS preprocessor to subtract height of header and footer */
    min-height: 60vh;
    background: #fff;
}

footer{
    /* background: var(--grey-light-warm); */
}

form.add{
    max-width: 50ch;
}

.container{
    max-width: 960px;
}

.results{
    display: flex;
    justify-content: space-between;
}
    .results .item{
        background: var(--grey-light-warm);
        padding: 1rem;
    }
    .results .item p{
        margin: 0;
    }
